{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "MonitorManagementClient",
        "version": "2017-05-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-ms-code-generation-settings": {
            "name": "MonitorManagementClient"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/diagnosticsSettingsCategories_API.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "monitor-diagnosticsSettingsCategories_API",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/{resourceUri}/providers/microsoft.insights/diagnosticSettingsCategories": {
            "get": {
                "description": "Lists the diagnostic settings categories for the specified resource.",
                "operationId": "DiagnosticSettingsCategory_List",
                "parameters": [
                    {
                        "description": "The identifier of the resource.",
                        "in": "path",
                        "name": "resourceUri",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request to get more information about diagnostic setting category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents a collection of diagnostic setting category resources.",
                                    "properties": {
                                        "value": {
                                            "description": "The collection of diagnostic settings category resources.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "A proxy only azure resource object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Azure resource Id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Azure resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "Azure resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "The diagnostic settings category resource.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The properties of a Diagnostic Settings Category.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "categoryType": {
                                                                "description": "The type of the diagnostic settings category.",
                                                                "enum": [
                                                                    "Metrics",
                                                                    "Logs"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "name": "categoryType"
                                                                },
                                                                "nullable": false
                                                            }
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "DiagnosticSettingsCategories"
                ],
                "x-ms-examples": {
                    "Gets the diagnostic setting": {
                        "parameters": {
                            "api-version": "2017-05-01-preview",
                            "resourceUri": "subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowRuntime",
                                            "name": "WorkflowRuntime",
                                            "properties": {
                                                "categoryType": "Logs"
                                            },
                                            "type": "microsoft.insights/diagnosticSettingsCategories"
                                        },
                                        {
                                            "id": "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowMetric",
                                            "name": "WorkflowMetric",
                                            "properties": {
                                                "categoryType": "Metrics"
                                            },
                                            "type": "microsoft.insights/diagnosticSettingsCategories"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            }
        },
        "/{resourceUri}/providers/microsoft.insights/diagnosticSettingsCategories/{name}": {
            "get": {
                "description": "Gets the diagnostic settings category for the specified resource.",
                "operationId": "DiagnosticSettingsCategory_Get",
                "parameters": [
                    {
                        "description": "The identifier of the resource.",
                        "in": "path",
                        "name": "resourceUri",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the diagnostic setting.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request to get more information about diagnostic setting category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "A proxy only azure resource object",
                                            "properties": {
                                                "id": {
                                                    "description": "Azure resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Azure resource name",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Azure resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "The diagnostic settings category resource.",
                                    "properties": {
                                        "properties": {
                                            "description": "The properties of a Diagnostic Settings Category.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "categoryType": {
                                                    "description": "The type of the diagnostic settings category.",
                                                    "enum": [
                                                        "Metrics",
                                                        "Logs"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "categoryType"
                                                    },
                                                    "nullable": false
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "DiagnosticSettingsCategories"
                ],
                "x-ms-examples": {
                    "Gets the diagnostic setting": {
                        "parameters": {
                            "api-version": "2017-05-01-preview",
                            "name": "WorkflowRuntime",
                            "resourceUri": "subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowRuntime",
                                    "name": "WorkflowRuntime",
                                    "properties": {
                                        "categoryType": "Logs"
                                    },
                                    "type": "microsoft.insights/diagnosticSettingsCategories"
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "DiagnosticSettingsCategory": {
                "description": "The diagnostic settings Category.",
                "properties": {
                    "categoryType": {
                        "description": "The type of the diagnostic settings category.",
                        "enum": [
                            "Metrics",
                            "Logs"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "name": "categoryType"
                        },
                        "nullable": false
                    }
                },
                "type": "object"
            },
            "DiagnosticSettingsCategoryResource": {
                "allOf": [
                    {
                        "description": "A proxy only azure resource object",
                        "properties": {
                            "id": {
                                "description": "Azure resource Id",
                                "readOnly": true,
                                "type": "string"
                            },
                            "name": {
                                "description": "Azure resource name",
                                "readOnly": true,
                                "type": "string"
                            },
                            "type": {
                                "description": "Azure resource type",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "x-ms-azure-resource": true,
                        "type": "object"
                    }
                ],
                "description": "The diagnostic settings category resource.",
                "properties": {
                    "properties": {
                        "description": "The properties of a Diagnostic Settings Category.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "categoryType": {
                                "description": "The type of the diagnostic settings category.",
                                "enum": [
                                    "Metrics",
                                    "Logs"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "name": "categoryType"
                                },
                                "nullable": false
                            }
                        }
                    }
                },
                "type": "object"
            },
            "DiagnosticSettingsCategoryResourceCollection": {
                "description": "Represents a collection of diagnostic setting category resources.",
                "properties": {
                    "value": {
                        "description": "The collection of diagnostic settings category resources.",
                        "items": {
                            "allOf": [
                                {
                                    "description": "A proxy only azure resource object",
                                    "properties": {
                                        "id": {
                                            "description": "Azure resource Id",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Azure resource name",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "type": {
                                            "description": "Azure resource type",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            ],
                            "description": "The diagnostic settings category resource.",
                            "properties": {
                                "properties": {
                                    "description": "The properties of a Diagnostic Settings Category.",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "categoryType": {
                                            "description": "The type of the diagnostic settings category.",
                                            "enum": [
                                                "Metrics",
                                                "Logs"
                                            ],
                                            "type": "string",
                                            "x-ms-enum": {
                                                "name": "categoryType"
                                            },
                                            "nullable": false
                                        }
                                    }
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "ErrorResponse": {
                "description": "Describes the format of Error response.",
                "properties": {
                    "code": {
                        "description": "Error code",
                        "type": "string"
                    },
                    "message": {
                        "description": "Error message indicating why the operation failed.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ProxyOnlyResource": {
                "description": "A proxy only azure resource object",
                "properties": {
                    "id": {
                        "description": "Azure resource Id",
                        "readOnly": true,
                        "type": "string"
                    },
                    "name": {
                        "description": "Azure resource name",
                        "readOnly": true,
                        "type": "string"
                    },
                    "type": {
                        "description": "Azure resource type",
                        "readOnly": true,
                        "type": "string"
                    }
                },
                "x-ms-azure-resource": true,
                "type": "object"
            }
        },
        "parameters": {
            "ApiVersionParameter": {
                "description": "Client Api Version.",
                "in": "query",
                "name": "api-version",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "NameParameter": {
                "description": "The name of the diagnostic setting.",
                "in": "path",
                "name": "name",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ResourceUriParameter": {
                "description": "The identifier of the resource.",
                "in": "path",
                "name": "resourceUri",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        }
                    }
                }
            }
        }
    }
}